#goods_li select {
    width: 30%;
    display: inline-block;
}

#goods_li input[type="number"] {
    width: 20%;
    display: inline-block;
}

#goods_li buttin {
    width: 10%;
    display: inline-block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}
select,
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #0056b3;
}
#output {
    margin-top: 20px;
}
